body {
  text-align: center;
  display: block;
  background-image: linear-gradient(#c1c1c1, white);
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
  animation: body 0.5s ease-in;
}
.location {
  margin: 2.5%;
  width: 200px;
  height: 40px;
  font-size: 2em;
  color: #0262C0;
  border-radius: 6px;
  text-align: center;
}
.location:focus {
  outline-color: #0262C0;
  outline-style: hidden;
}
.submit {
  margin: 0 0 5% 0;
  width: 120px;
  height: 40px;
  font-size: 1em;
  color: white;
  background-color: #0262C0;
  border-radius: 6px;
}
.submit:focus {
  outline-color: #0262C0;
  outline-style: hidden;
}
.week {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
  margin-bottom: 10%;
}
.header {
  font-size: 3em;
  color: white;
  padding-top: 15%;
  margin-top: 0;
  text-shadow: 2px 2px #0262C0;

}
h2 {
  display: block;
  width: 100%;
  margin: 5% 0;
  font-size: 2em;
  color: #0262C0;
}
h3 {
  color: white;
}
h5 {
  color: white;
}
.current {
  font-size: 2em;
}
.whatDay {
  display: block;
  background-image: linear-gradient(#0262C0, #d8e4ff);
  border: 4px solid #d8e4ff;
  border-radius: 12px;
  width: 130px;
  margin: 5px;
  margin-bottom: 5%;
}
@keyframes body {
  0% {transform: translateX(-100%);}
  100% {transform: translateX(0%);}
}
