body {
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  background-color: white;

}
h1.title {
  font-size: 4em;
  text-shadow: 2px 2px yellow;
}
.myModal {
  background-color: rgba(0,0,0,.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}
.myTextbox {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  width: 70%;
  height: 70vw;
  border: 2px solid yellow;
  border-radius: 12px;
  margin: 150px auto;
  box-shadow: 0 4px 4px rgba(0,0,0,.6);
}
.close {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40px;
  height: 40px;
  font-size: 2em;
  background-color: white;
  color: red;
  border: 1px solid red;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
}
h1 {
  font-size: 4vw;
}
h2 {
  font-size: 4vw;
}
p.goAgain {
  display: none;
  font-size: 3vw;
}
p.win {
  display: none;
  font-size: 8vw;
}
p {
  font-size: 3vw;
}
button {
  font-size: 6vw;
  width: 28vw;
  height: 12vw;
  background-color: black;
  color: white;
  border: 2px solid yellow;
  border-radius: 12px;
  margin: 0 20px;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0,0,0,.6);
}
button:hover {
  background-color: gray;
}
.container {
  width: 70%;
  height: 70%;
  border: 2px solid black;
  border-radius: 12px;
  background-color: rgba(0,0,0,.5);
  margin: 5% auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 4px rgba(0,0,0,.6);
}
.tile {
  width: 18vw;
  height: 18vw;
  background-color: rgb(255,255,0);
  border: 1px solid black;
  border-radius: 12px;
  font-size: 22vw;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 2vw;
  padding-left: 2vw;
}
.tile:hover {
  border: 1px solid white;
}
